nav i{
    transform: rotate(90deg);
}
*{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.companies img{
    margin:10px;
    padding:20px;
}
#features, #feature, #start{
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
#nd{
    background-image: url("./images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 10%;
}
#btn button{
    outline:none;
    box-sizing: border-box;
    border: 0.55px solid transparent;
}
#btn button:hover{
    background-color: rgba(73, 143, 235, 0.2);
}
#btn button:active{
    box-shadow: 0px 2px 4px -2px -4px black;
    background-color: rgba(57, 133, 248, 0.534);
    border: 0.55px groove rgba(255, 255, 255, 0.555);
    border-right: none;
}
#buttons{
    padding:5%;
    background-color: rgba(73, 143, 235, 0.2);
    border: 0.55px groove rgba(255, 255, 255, 0.418);
}
#bt{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}
#get, #get2{
    background-color: white;
    border: 1px blue;
}
#get:hover,#get2:hover{
    background-color: rgb(208, 245, 245);
}
#start{
    padding:10%;
    padding-left: 20%;
    padding-right:20%;
}
#world{
    margin-top: 5%;
}
#cap{
    color: gray;
}
.card{
    border: 1px solid gainsboro;
    box-shadow: 4px 4px 10px rgba(66, 65, 65, 0.3);
    margin: 5%;
}
.quote{
    background: url("./images/luxaorg.png");
    background-repeat: no-repeat; 
    background-position: top left; 
    background-size: auto;
}
.crd{
    padding: 0 5px;
}
.liste li{
    font-weight: 200;
}
#is i:hover{
    color:black;
    cursor: pointer;
}